Hi {{ first_name }},

Following up on my note about {{ guest_name }} joining {{ show_name }}. If it's still of interest, the simplest step is to reply here and I'll send over the booking link so {{ guest_name }} can pick a time that suits.

Sincerely,

Patrick
